{% load static %}
{% csrf_token %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      Tickets main
    </title>

    <link rel="stylesheet"
          href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">

  </head>

  <body>
    {% include 'includes/header.html' %}
    <main>
      <div class="container py-5">
        <p class="card-text">
          {% for post in page %}
          {% include "ticket_item.html" with ticket=post %}
          {% endfor %}
          {% include 'paginator.html' %}
        </p>
        
      </div>
    </main>
  </body>
