{% load static %}
{% csrf_token %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <a class="navbar-brand">TICKETS</a>
      <nav class="my-2 my-md-0 mr-md-3">
      </nav>
    </nav>
    <title>
      Tickets main
    </title>

    <link rel="stylesheet"
          href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">

  </head>

  <body>
    <main>
      <div class="container py-5">
        <p class="card-text">
          {% for post in page %}
          {% include "ticket_item.html" with ticket=post %}
          {% endfor %}
          {% include 'paginator.html' %}
        </p>
        
      </div>
    </main>
  </body>
