
<html>
<article>
    <hr>
    <ul>
        <li>Номер: {{ ticket.id }}</li>
        <li>Категория: {{ ticket.ticket_category }}</li>
        <li>Статус: {{ ticket.ticket_status }}</li>
        <li>Создано: {{ ticket.date_time_created }}</li>
        <li>Дата последнего изменения: {{ ticket.date_time_modified|date:"d E Y" }}</li>
    </ul>
<p>
    {{ ticket.description |linebreaksbr }}
</p>
    <div class="form-check">
        <form method="post" action="/change_status/{{ ticket.id }}/">
            {% csrf_token %}
            Присвоить заявке статус:<br>
            <input type="radio" name="ticket_status" value="IN_PROGRESS"> В работе<br>
            <input type="radio" name="ticket_status" value="CLOSED"> Закрыто<br>
            <input type="radio" name="ticket_status" value="DECLINED"> Отклонено
            <br><br>
            <button type="submit" class="btn btn-primary">Изменить статус заявки</button>
          </form> 
    </div>
</article>
</html>
